@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --fallback-bg: 0 0% 97%;
        --fallback-line: 0 0% 95%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 11 80% 60%;
        --primary-darker: 11 80% 50%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --text-gradient-from: 333 71% 51%;
        --text-gradient-to: 292 34% 61%;

        /* shared metrics */
        --header-height: 60px;
        --footer-height: 40px;

        --song-element-height: 64px;
        --song-element-width: 250px;

        --album-card-width: 100px;

        --audio-player-height: 64px;
    }

    ::-webkit-scrollbar {
        @apply w-[10px];
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-[4px] bg-[hsl(var(--primary))];
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-[hsl(var(--primary-darker))];
    }

    input[type="range"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        @apply h-1 rounded-full bg-gray-400;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        @apply aspect-square w-3 rounded-full bg-primary;
    }

    input[type="range"]::-moz-range-thumb {
        border: none;
        @apply aspect-square h-3 w-3 rounded-full bg-primary;
    }
}

@layer utilities {
    .text-with-gradient {
        @apply bg-clip-text text-transparent;
        background-image: linear-gradient(
            to right,
            hsl(var(--text-gradient-from)),
            hsl(var(--text-gradient-to))
        );
        background-image: linear-gradient(
            to right in lch,
            hsl(var(--text-gradient-from)),
            hsl(var(--text-gradient-to))
        );
    }

    .loading-animation {
        @apply relative overflow-hidden bg-[hsl(var(--fallback-bg))] after:absolute after:-left-full after:top-1/2 after:z-10 after:h-[400px] after:w-[40px] after:-translate-y-1/2 after:rotate-45 after:animate-fallback after:bg-[linear-gradient(to_right,transparent,hsl(var(--fallback-line))_50%,transparent)] after:[content:''];
    }

    .calculated-height {
        @apply h-[calc(100svh-var(--header-height)-var(--footer-height))] overflow-y-auto md:h-[calc(100svh-var(--header-height))];
    }

    .visible-on-hover {
        @apply opacity-0 transition-opacity hover:opacity-100;
    }

    .visible-on-hover > * {
        @apply pointer-events-none;
    }

    .visible-on-hover:hover > * {
        @apply pointer-events-auto;
    }
}

@layer base {
    * {
        @apply border-border antialiased;
    }
    body {
        @apply bg-background text-foreground;
    }
}
